<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title class="Register">
        RegisterApp
      </ion-title>
      <ion-title class="DuocUC">
        DuocUC
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Logo DuocUC fondo azul" src="assets/images/duoc.png" class="imgDuoc" />
    <ion-card-header>
      <ion-card-title>Iniciar sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario" [clearOnEdit]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.clave" [clearOnEdit]="true"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button id="Iniciar" color="tertiary" expand="block" (click)="ingresar()">Iniciar</ion-button>
          <ion-loading trigger="Iniciar" duration="500" message="Cargando..."></ion-loading>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="Registrar" color="tertiary" expand="block" (click)="registrar()">Registrarse</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="Recuperar" color="tertiary" expand="block" (click)="recuperar()">Recuperar
            contraseña</ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-button id="open-modal" expand="block"  color="tertiary" (click)="presentarModal()">Recuperar</ion-button>
          <ion-modal>
            
            <!--Componente1 Recuperar contraseña-->
            <ion-router-outlet></ion-router-outlet>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>